//bacgrounds
$body-bg: #ff55;
$header-bg: #131417;
$site-list-color: #fafafa;
$menu-list-item-color: #252830;
$menu-list-item-hover: #eb5757;
$drop-triangle: #F2994A;
$menu-list-item-borders:rgba(255, 255, 255, 0.1);

//fonts
$basic-family: 'Roboto', Arial, Helvetica, sans-serif;

$tablet-width: 768px;
$mobile-width: 376px;