.nav__list {
    display: flex;
    padding: 0;
    list-style-type: none;

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.nav__link {
    display: block;
    padding: 8px 18px;
    color: $site-list-color;
    font: 18px/24px Roboto, Arial, sans-serif;
    text-decoration: none;

    &:hover {
        color: $menu-list-item-hover;
    }
}

.nav__drop {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: transform .2s ease, opacity .2s ease;
}

.nav__drop-1 {
    width: 320px;
    left: 0;
    padding-top: 20px;
}

.nav__drop-1 > .dropdown:before {
    top: -14px;
    left: 47px;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.nav__drop-2 {
    width: 210px;
    top: 0;
    left: 100%;
    padding-left: 22px;
}

.nav__drop-2 > .dropdown:before{
    top: 45px;
    left: -14px;
    border-left: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
}