.page-header {
    background-color: $header-bg;
    display: flex;
    align-items: center;
    padding: 17px 122px;
    box-shadow: 0px 4px 4px rgba($header-bg, 0.4);
}

.page-header__logo {
    margin-right: 176px;
}