.page-body {
    background: url(../../img/alpaca-desktop.jpg) no-repeat 0 0;
    background-size: cover;

    // width: 1440px;
    // min-height: 100%;
    // margin: 0 auto;
    // padding: 0;
    // overflow-x: hidden;

    @media (min-width: $tablet-width) {
        // width: 768px;
        background: url(../../img/alpaca-tablet.jpg) no-repeat 0 0;
        background-size: cover;
      }
    
    // @media (min-width: $mobile-width) {
    //     width: 376px;
    //   }
}